.header {
  font-family: monospace;
  background: papayawhip;
  display: flex;
  justify-content: space-between;
}

.logo {
  font-size: 48px;
  font-weight: 900;
  color: tomato;
  background: white;
  /* padding: 10px 20px;
  margin: 20px;
  display: flex;
  align-items: center; */

  padding: 20px;
  text-decoration: none;
  margin: 10px 20px;
  display: flex;
  align-items: center;
}

ul {
  list-style-type: none;
  display: flex;
  margin: 20px;
  padding: 10px;
}

a {
  font-size: 22px;
  background: white;
  padding: 10px;
  text-decoration: none;
  margin: auto 0 0 10px;
  display: flex;
}
